<html>
    <head>
        <link rel="stylesheet", href="{{url_for('static', filename='styles.css')}}">
        <title>
            Fact Generator App
        </title>
        <script>
            function redirectToIndex() {
                window.location.href="/"
            }
        </script>
    </head>
    <body>
    
        <div> 
        <h2> Interesting Fact Generator </h2>
        <hr>
        <p> {{data}}</p>
       
            <button type="submit" name="submit"  onclick="redirectToIndex()">Generate New</button>
        
        </div>
    </body>
</html>
